<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar.book.model.mapper.BookListMapper">

	<select id="selectList" resultType="BookList">
		SELECT BOOK_NO , BOOK_TITLE ,BOOK_WRITER , BOOK_PRICE ,
		TO_CHAR(REG_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') REG_DATE
		FROM "BOOK"
		ORDER BY BOOK_NO
	</select>
	
	<insert id="insertBook">
		INSERT INTO "BOOK" VALUES(
		SEQ_BOOKLIST_NO.NEXTVAL,
		 #{bookTitle},
		 #{bookWriter},
		 #{bookPrice},
		 DEFAULT	
		)
	</insert>
	
	<select id="bookTitleSearch">
	
		SELECT BOOK_NO , BOOK_TITLE ,BOOK_WRITER , BOOK_PRICE ,
			TO_CHAR(REG_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') REG_DATE
		FROM "BOOK"
		WHERE BOOK_TITLE LIKE '%' || #{bookTitle} || '%'
		ORDER BY BOOK_NO
	
	</select>
  
</mapper>
