<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>책 관리 프로그램</title>
</head>
<body>
  <h1>책 관리 프로그램</h1>
  <ul>
    <li><a href="book/addBook">책 등록</a></li>
    <li><a href="book/bookSearch">책 검색,수정,삭제</a></li>
  </ul>

  <hr>

  <section>

    <div>
      <h3>모든 책 조회</h3>
      <button id="bookListBtn">조회</button>
    </div>

    <table border="1" style="border-collapse: collapse;" id="bookListTable">

      <thead>
        <th>책 번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>가격</th>
        <th>등록일</th>
      </thead>

      <tbody id="tbody">

      </tbody>
    </table>

  </section>

  <script src="/js/bookManagement.js"></script>
  <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>