<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>책 검색, 수정, 삭제</h1>

  <div>
    제목:
    <input type="text"  name="bookTitle" id="inputTitle" placeholder="내용을 입력해 주세요"> 
    <button id="searchBookBtn">검색</button>
  </div>

  <!-- 제목이 포함된 책 모두 조회 -->
  <table border="1" style="border-collapse: collapse;" id="bookTitleSearch">

    <thead id="thead">
      <th>책 번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>가격</th>
      <th>등록일</th>
      <th>수정버튼</th>
      <th>삭제버튼</th>
    </thead>

    <tbody id="serchBookTbody">
      
    </tbody>

  </table>

  <script src="/js/bookManagement.js"></script>
</body>
</html>